<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1035507828482-8o2mrts6cheqhe1p0kr6pntf931e3avi.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1035507828482-8o2mrts6cheqhe1p0kr6pntf931e3avi</string>
	<key>API_KEY</key>
	<string>AIzaSyAOPLepjGwUeBhxDQrIUP5uMfE7I3ALATM</string>
	<key>GCM_SENDER_ID</key>
	<string>1035507828482</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>sl.hakorappsbird.mynotes.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>mynotes-hakor-app-d9140</string>
	<key>STORAGE_BUCKET</key>
	<string>mynotes-hakor-app-d9140.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1035507828482:ios:fa2cb2a3306a393f7ce41b</string>
</dict>
</plist>